
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for item in melon_dict %}
         <tr>
            <td> {{item}} </td> 
            <td>  {{melon_dict[item][1]}} </td>   
            <td> {{melon_dict[item][0]}} </td>
            <td> {{melon_dict[item][2]}} </td>
        </tr>
            {% endfor %}

        </tbody>
    </table>

    <h3> 


        CHANGE THIS!!!! Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
